<% content_for :content do %><br>

<table class="table table-striped">
<tr>
<th>用户名</th>
<th>密码</th>
<th>邮箱</th>
<th>电话</th>
<th>地址</th>
</tr>
<%  @users.each do |user| %>
<tr>
<td><%= user.name %></td>
<td><%= user.password %></td>
<td><%= user.email %></td>
<td><%= user.phone %></td>
<td><%= user.address %></td>
</tr>
<% end %>
</table>


<% end %>