<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%#= stylesheet_link_tag "simditor" %>
    

    <%#= stylesheet_link_tag "bootstrap-theme" %>
    

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "jquery-3.2.1" %>
    <%#= javascript_include_tag "simditor" %>
    <%#= javascript_include_tag "module" %>
    <%#= javascript_include_tag "hotkeys" %>
    
  </head>


  <body>

  <div class="row">
  <div class="col-md-12">
<div class="jumbotron">
  <div class="container">
    <h1><center>(｡・`ω´･)welcome</center></h1>
  </div>
</div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">

<nav class="navbar navbar-default">
<div class="container-fluid"> 

            <ul class="nav navbar-nav">
              <li><a href="/welcome/home/">主页</a></li>
              <li><%= link_to '文章', articles_path%></li>
              <li><%= link_to '用户', users_path%></li>
            </ul>
            <% if @current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to '注销', sign_out_path, data:{ confirm: "确定注销吗"}%></li>
            </ul>
            <% else %>
            <ul class="nav navbar-nav navbar-right">
            <li><%= link_to '注册', new_user_path%></li>
            <li><%= link_to '登录', sign_in_path%></li>
            </ul>
            <% end %>
          </div>
          </nav>
<%= yield :content%>
<%= yield :login%>
</div>
  <div class="col-md-2"></div>
</div>
  
    <%= yield %>
  </body>
</html>
